<template>
  <el-card shadow="hover">
    <div slot="header" class="clearfix">
      <span>{{header}}</span>
    </div>
    <el-table :data="fData" style="width:100%" :show-header="false" stripe>
      <el-table-column type="expand">
        <template slot-scope="props">
          <el-form label-position="left" inline class="table-expand">
            <el-form-item v-for="(value, key) of props.row" :key="key" :label="key">
              <span>{{value}}</span>
            </el-form-item>
          </el-form>
        </template>
      </el-table-column>
      <el-table-column :prop="primaryKey" :title="primaryKey" style="min-width:12%" align="center"/>
      <transition>
        <el-table-column
          v-if="show2"
          :prop="secondaryKey"
          :title="secondaryKey"
          style="min-width:12%"
          align="center"
        />
      </transition>
      <transition>
        <el-table-column
          v-if="show3"
          :prop="thirdKey"
          :title="thirdKey"
          style="min-width:12%"
          align="center"
        />
      </transition>
      <el-table-column fixed="right" label="操作" width="100">
        <template slot-scope="scope">
          <el-button @click="chooseNode1(scope.row)" type="text" size="small">作为节点1</el-button><br/>
          <el-button @click="chooseNode2(scope.row)" type="text" size="small">作为节点2</el-button>
        </template>
      </el-table-column>
    </el-table>
  </el-card>
</template>

<script>
export default {
  name: "detailsTable",
  props: ["header", "fData", "primaryKey", "secondaryKey", "thirdKey"],
  data() {
    return {
      show2: false,
      show3: false
    };
  },
  created() {
    this.show2 = this.isShow(this.secondaryKey);
    this.show3 = this.isShow(this.thirdKey);
  },
  methods: {
    isShow: function(vab) {
      return vab != undefined;
    },
    chooseNode1: function(vab){
      this.$emit('getNode1', vab)
    },
    chooseNode2: function(vab){
      this.$emit('getNode2', vab)
    }
  }
};
</script>


<style>
.table-expand {
  font-size: 0;
}
.table-expand label {
  width: 90px;
  color: #99a9bf;
}
.table-expand .el-form-item {
  margin-right: 0;
  margin-bottom: 0;
  width: 50%;
}
</style>