<template>
  <el-card shadow="hover" style="width:100%;">
    <el-collapse>
      <el-collapse-item v-for="(issue, index) in issues" :key="issue.title" :name="index">
        <template slot="title">
          <i class="el-icon-arrow-right el-icon-ar"></i>
          <span class="coll-title">{{issue.title}}</span>
          <i :class="issue.state" id="el-icon-state"></i>
        </template>
        <el-card shadow="hover" style="width:98%;">
          <el-collapse>
              <el-collapse-item>
                  <template slot="title">
                      <span class="coll-subtitle">WARNING</span>
                  </template>
              </el-collapse-item>
              <el-collapse-item>
                  <template slot="title">
                      <span class="coll-subtitle">ERROR</span>
                  </template>
              </el-collapse-item>
          </el-collapse>
        </el-card>
      </el-collapse-item>
    </el-collapse>
  </el-card>
</template>

<script>
export default {
  name: "issues",
  data() {
    return {
      issues: [
        // {
        //   title: "可执行代码行数",
        //   warning: [
        //     "/abc/defg/hijk/lmn/opq/rst/uvw/x.txt",
        //     "/abc/defg/hijk/lmn/opq/rst/uvw/y.txt",
        //     "/abc/defg/hijk/lmn/opq/rst/uvw/z.txt",
        //     "/abc/defg/hijk/lmn/opq/rst/uvw/z1.txt"
        //   ],
        //   error: ["/abc/defg/hijk/lmn/opq/rst/uvw/x1.txt"]
        // },
        // {
        //   title: "注释比例",
        //   warning: [
        //     "/abc/defg/hijk/lmn/opq/rst/uvw/x.txt",
        //     "/abc/defg/hijk/lmn/opq/rst/uvw/z1.txt"
        //   ]
        // },
        // {
        //   title: "空方法"
        // },
        // {
        //   title: "圈复杂度",
        //   warning: [
        //     "/abc/defg/hijk/lmn/opq/rst/uvw/z.txt",
        //     "/abc/defg/hijk/lmn/opq/rst/uvw/z1.txt"
        //   ],
        //   error: [
        //     "/abc/defg/hijk/lmn/opq/rst/uvw/x.txt",
        //     "/abc/defg/hijk/lmn/opq/rst/uvw/y.txt"
        //   ]
        // }
      ]
    };
  },
  created() {
    this.judgeState(this.issues);
  },
  methods: {
    judgeState: function(issues) {
      for (var i = 0; i < issues.length; i++) {
        var issue = issues[i];
        var warning = issue["warning"];
        var error = issue["error"];
        if (warning == undefined && error == undefined) {
          issue["state"] = "el-icon-success";
        } else if (error != undefined && error.length > 0) {
          if (warning == undefined || warning.length == 0) {
            issue["state"] = "el-icon-error";
          } else if (error.length / warning.length > 1 / 2) {
            issue["state"] = "el-icon-error";
          } else if (error.length / warning.length < 1 / 2) {
            issue["state"] = "el-icon-warning";
          }
        } else if (warning != undefined && warning > 0) {
          if (warning > 40) {
            issue["state"] = "el-icon-warning";
          }
        } else {
          issue["state"] = "el-icon-warning";
        }
      }
    }
  }
};
</script>

<style>
.text {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}
.coll-title {
  font-size: 18px;
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB",
    "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  height: 100%;
  width: 100%;
  color: #303133;
  border-radius: 4px;
  text-align: left;
  left: 10px;
}
.coll-subtitle {
  font-size: 16px;
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB",
    "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  height: 100%;
  width: 100%;
  color: #303133;
  border-radius: 4px;
  text-align: left;
  left: 10px;
  margin-left: 40px;
}
.el-icon-ar {
  margin-left: 10px;
  margin-right: 20px;
}
#el-icon-state {
    margin-right: 30px;
}
.el-icon-success {
  color: #409EFF;
}
.el-icon-warning {
  color: #E6A23C;
}
.el-icon-error {
  color: #F56C6C;
}
.coll-tag{
    height: 100%;
    width: 100%;
}
.item {
  margin-bottom: 18px;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}

.box-card {
  width: 480px;
}
</style>