<template>
  <el-card shadow="hover" body-style="height:150px">
    <div slot="header" class="clearfix">
      <Span>进行时任务</Span>
    </div>
    <el-table :data="tasks" style="width:100%">
      <el-table-column prop="repo" label="仓库名"></el-table-column>
      <el-table-column label="任务">
        <template slot-scope="scope">
          {{ scope.row.des }}
          <i :class="scope.row.icon"></i>
        </template>
      </el-table-column>
    </el-table>
  </el-card>
</template>

<script>
export default {
  name: "task",
  props: ["searchCount", "platform", "user"],
  data() {
    return {
      tasks: []
    };
  },
  created() {
    this.checkIcon();
    this.getData();
    this.timmer();
  },
  beforeUpdate() {
    this.checkIcon();
  },
  destroyed() {
    clearInterval(this.timmer)
  },
  watch: {
    searchCount: function() {
      this.getData();
    }
  },
  methods: {
    checkIcon: function() {
      if (this.tasks == undefined || this.tasks.length == 0) {
        return;
      }
      for (var i = 0; i < this.tasks.length; i++) {
        var task = this.tasks[i];
        task["repo"] = task["owner"] + "/" + task["projectName"];
        if (task["cloneState"] == "start") {
          task["icon"] = "el-icon-download";
          task["des"] = "仓库下载中";
        } else if (
          task["codeAnalyzeState"] == "start" ||
          task["commitAnalyzeState"] == "start"
        ) {
          task["icon"] = "el-icon-loading";
          task["des"] = "仓库分析中";
        }else{
          task["icon"] = "el-icon-loading";
          task["des"] = "仓库处理中";
        }
      }
    },
    timmer: function() {
      return setInterval(() => {
        this.getData();
      }, 10000);
    },
    getData: function() {
      var baseUrl = this.$store.state.baseUrl;
      this.$http
        .get(
          baseUrl + "/overview/tasks",
          { params: { user: this.user, platform: this.platform } },
          { emulateJSON: true }
        )
        .then(function(res) {
          console.log("Get check result");
          this.tasks = res.body.data.tasks;
        })
        .catch(function(res) {
          console.log("Get check result failed");
        });
    }
  }
};
</script>