<template>
  <div>
    <el-row>
      <el-col :span="13" :offset="1">
        <el-card shadow="hover" style="100%;">
          <el-form :model="formInline" class="demo-form-inline">
            <el-form-item>
              <el-input
                type="textarea"
                :autosize="{ minRows: 2, maxRows: 5}"
                placeholder="输入商品描述"
                v-model="formInline.text"
                class="entity_input"
              ></el-input>
            </el-form-item>
            <el-form-item>
              <el-button @click="onSubmit" style="font-weight:bold;font-size:16px">查 询</el-button>
            </el-form-item>
          </el-form>
        </el-card>
        <el-card shadow="hover" style="100%;margin-top:10px">
          <div class="result">
            <el-row>
              <el-col :span="4">实体识别结果：</el-col>
              <el-col :span="20">
                <span class="result-item">{{entityRec}}</span>
              </el-col>
            </el-row>
            <!-- <el-row>
              <el-col :span="4">分词结果：</el-col>
              <el-col :span="20">
                <span v-for="(item, index) in splitResult" :key="index" class="result-item">{{item}}</span>
              </el-col>
            </el-row> -->
          </div>
        </el-card>
      </el-col>
    </el-row>
  </div>
</template>

<style>
.el-input {
  width: 800px;
}
.result {
  text-align: left;
  font-size: 18px;
}
.result-item {
  margin-left: 10px;
}
.entity_input{
  font-size: 20px;
  font-family: Arial, 'Courier New', Courier, monospace, Helvetica, sans-serif
}
</style>

<script>
export default {
  name: "recognition",
  data() {
    return {
      formInline: {
        text: ""
      },
      entityRec: "",
    };
  },
  created() {
    document.title = "GraphMaster";
  },
  methods: {
    onSubmit: function(){
      var api = 'http://47.101.53.203:8080/graph/api/entities/CommodityItem/' + this.formInline.text
      this.$http.get(api).then(function(res){
        var entities = res.body;
        this.entityRec = entities.join(', ')
      })
    }
  }
};
</script>
