<template>
  <div>
    <el-row>
      <el-col :span="22" :offset="1">
        <el-row :gutter="20">
          <el-col :span="12">
            <el-card shadow="hover" style="100%;">
              <el-row>
                <el-col :span="20">
                  <el-input
                    style="font-size:20px;"
                    v-model="formInline.entity"
                    placeholder="输入商品实体名称"
                  ></el-input>
                </el-col>
                <el-col :span="3" :offset="1">
                  <el-button style="font-size:20px;" @click="onSubmit">查询</el-button>
                </el-col>
              </el-row>
            </el-card>
            <el-card shadow="hover" style="100%;">
              <div slot="header" class="clearfix">
                <span style="font-size:20px;">实体关系列表</span>
              </div>
              <el-table :data="links" class="rela_table">
                <el-table-column prop="source" label="entity1"></el-table-column>
                <el-table-column prop="category" label="relation"></el-table-column>
                <el-table-column prop="target" label="entity2"></el-table-column>
              </el-table>
            </el-card>
          </el-col>
          <el-col :span="12">
            <el-card shadow="hover" style="100%">
              <div slot="header" class="clearfix">
                <span style="font-size:26px;">{{summary}}</span>
              </div>
              <div id="relationGraph" style="height: 600px"></div>
            </el-card>
          </el-col>
        </el-row>
      </el-col>
    </el-row>
  </div>
</template>

<style>
.rela_table {
  font-size: 20px;
}
</style>


<script>
import echarts from "echarts";
export default {
  name: "relation",
  data() {
    return {
      summary: "商品实体查询",
      formInline: {
        entity: ""
      },
      nodes: [],
      categories: [],
      links: []
    };
  },
  mounted() {
    document.title = "GraphMaster";
    var that = this;
    var relationChart = echarts.init(document.getElementById("relationGraph"));
    that.relationChart = relationChart;
  },
  watch: {
    categories: function(){
      this.drawRelationChart(this.relationChart, this.nodes, this.links, this.categories);
    }
  },
  methods: {
    onSubmit() {
      var api =
        "http://47.101.53.203:8080/graph/api/entity/CommodityItem/" +
        this.formInline.entity;
      console.log(api);
      this.$http.get(api).then(function(res) {
        var entities = res.body;
        console.log(entities);
        this.extract_result(entities);
      });
    },
    extract_result: function(entities) {
      if (entities == undefined || entities.length == 0) {
        return;
      }
      this.nodes = [];
      this.links = [];
      this.categories = [];
      var classSet = new Set();
      this.nodes[0] = new this.node(
        entities[0].entity1.title,
        entities[0].entity1.labels[0]
      );
      classSet.add(entities[0].entity1.labels[0]);
      var num = entities.length;
      for (var couple = 0; couple < num; couple++) {
        this.nodes[couple + 1] = new this.node(
          entities[couple].entity2.title,
          entities[couple].relationship
        );
        this.links[couple] = new this.link(
          entities[couple].entity1.title,
          entities[couple].entity2.title,
          entities[couple].relationship
        );
        classSet.add(entities[couple].relationship);
      }
      this.categories = [...classSet];
    },
    link: function(source, target, category) {
      this.source = source;
      this.target = target;
      this.category = category;
    },
    node: function(name, category) {
      this.name = name;
      this.category = category;
      switch (category) {
        case "CommodityItem":
          this.itemStyle = { color: "#6D2DC1" };
          break;
        case "subclass of":
        case "instance of":
          this.itemStyle = { color: "#2969AA" };
          break;
        default:
          this.itemStyle = { color: "#2DC1BC" };
          break;
      }
      (this.draggable = true), // 节点是否可拖拽，只在使用力引导布局的时候有用。
        (this.symbolSize = [90, 90]);
    },
    drawRelationChart: function(chart, nodes, links, categories) {
      var option = {
        title: {
          // 图表标题
          //   text: "商品实体查询", // 标题文本
          left: "3%", // 标题距离左侧边距
          top: "3%", // 标题距顶部边距
          textStyle: {
            // 标题样式
            color: "#000", // 标题字体颜色
            fontSize: "30" // 标题字体大小
          }
        },
        tooltip: {
          // 提示框的配置
          formatter: function(param) {
            if (param.dataType === "edge") {
              //return param.data.category  ': '  param.data.target;
              return param.data.target;
            }
            //return param.data.category  ': '  param.data.name;
            return param.data.name;
          }
        },

        series: [
          {
            type: "graph", // 系列类型:关系图
            // top: "10%", // 图表距离容器顶部的距离
            roam: true, // 是否开启鼠标缩放和平移漫游。默认不开启。如果只想要开启缩放或者平移，可以设置成 'scale' 或者 'move'。设置成 true 为都开启
            focusNodeAdjacency: true, // 是否在鼠标移到节点上的时候突出显示节点以及节点的边和邻接节点。[ default: false ]
            force: {
              // 力引导布局相关的配置项，力引导布局是模拟弹簧电荷模型在每两个节点之间添加一个斥力，每条边的两个节点之间添加一个引力，
              //   每次迭代节点会在各个斥力和引力的作用下移动位置，多次迭代后节点会静止在一个受力平衡的位置，达到整个模型的能量最小化。
              // 力引导布局的结果有良好的对称性和局部聚合性，也比较美观。
              repulsion: 1000,
              // [ default: 50 ]节点之间的斥力因子(关系对象之间的距离)。支持设置成数组表达斥力的范围，此时不同大小的值会线性映射到不同的斥力。值越大则斥力越大
              edgeLength: [250, 120] // [ default: 30 ]边的两个节点之间的距离(关系对象连接线两端对象的距离,会根据关系对象值得大小来判断距离的大小)，
              // 这个距离也会受 repulsion。支持设置成数组表达边长的范围，此时不同大小的值会线性映射到不同的长度。值越小则长度越长。如下示例:
              // 值最大的边长度会趋向于 10，值最小的边长度会趋向于 50      edgeLength: [10, 50]
            },
            layout: "force", // 图的布局。[ default: 'none' ]
            // 'none' 不采用任何布局，使用节点中提供的 x， y 作为节点的位置。
            // 'circular' 采用环形布局;'force' 采用力引导布局.
            // 标记的图形
            edgeSymbol: ["circle", "arrow"],
            lineStyle: {
              // 关系边的公用线条样式。其中 lineStyle.color 支持设置为'source'或者'target'特殊值，
              //   此时边会自动取源节点或目标节点的颜色作为自己的颜色。
              normal: {
                color: "#afafaf", // 线的颜色[ default: '#aaa' ]
                width: 1, // 线宽[ default: 1 ]
                type: "solid", // 线的类型[ default: solid ]   'dashed'    'dotted'
                opacity: 0.5, // 图形透明度。支持从 0 到 1 的数字，为 0 时不绘制该图形。[ default: 0.5 ]
                curveness: 0 // 边的曲度，支持从 0 到 1 的值，值越大曲度越大。[ default: 0 ]
              }
            },
            label: {
              // 关系对象上的标签
              normal: {
                show: true, // 是否显示标签
                position: "inside",
                // 标签位置:'top''left''right''bottom''inside''insideLeft''insideRight''insideTop''insideBottom''insideTopLeft'
                // 'insideBottomLeft''insideTopRight''insideBottomRight'
                textStyle: {
                  // 文本样式
                  fontSize: 18
                }
              }
            },
            edgeLabel: {
              // 连接两个关系对象的线上的标签
              normal: {
                show: true,
                textStyle: {
                  fontSize: 16,
                  color: "#090909"
                },
                formatter: function(param) {
                  // 标签内容
                  return param.data.category;
                }
              }
            },
            data: nodes,
            categories: categories,
            links: links
          }
        ],

        animationEasingUpdate: "quinticInOut", // 数据更新动画的缓动效果。[ default: cubicOut ]    "quinticInOut"
        animationDurationUpdate: 100 // 数据更新动画的时长。[ default: 300 ]
      };
      chart.setOption(option);
    }
  }
};
</script>
