<template>
  <div>
    <el-row>
      <el-col :span="18" :offset="2">
        <el-card shadow="hover" style="100%;margin-bottom:10px;">
          <el-row :gutter="5">
            <el-col :span="6" :offset="2">
              <el-input style="font-size:20px;" v-model="formInline.entity" placeholder="输入商品实体名称"></el-input>
            </el-col>
            <el-col :span="6">
              <el-select style="font-size:20px;" v-model="formInline.relation" placeholder="实体关系">
                <el-option style="font-size:20px;" label="isInstanceOf" value="0"></el-option>
                <el-option style="font-size:20px;" label="subclassOf" value="1"></el-option>
                <el-option style="font-size:20px;" label="attribute name" value="2"></el-option>
                <el-option style="font-size:20px;" label="概念追溯" value="3"></el-option>
              </el-select>
            </el-col>
            <el-col :span="6">
              <el-input style="font-size:20px;" v-model="formInline.degree" placeholder="度"></el-input>
            </el-col>
            <el-col :span="3">
              <el-button style="font-size:20px;" @click="onSubmit">查询</el-button>
            </el-col>
          </el-row>
        </el-card>
        <el-card shadow="hover" style="100%">
          <div slot="header" class="clearfix">
            <span style="font-size:30px;">{{summary}}</span>
          </div>
          <div id="relationGraph" style="height: 200px"></div>
        </el-card>
      </el-col>
    </el-row>
  </div>
</template>

<script>
import echarts from "echarts";
export default {
  name: "search",
  data() {
    return {
      summary: "关系查询",
      formInline: {
        entity: "",
        degree: "",
        relation: []
      },
      nodes: [],
      links: [],
      categories: [],
    };
  },
  mounted() {
    document.title = "GraphMaster";
    var that = this;
    var relationChart = echarts.init(document.getElementById("relationGraph"));
    that.relationChart = relationChart;
  },
  watch: {
    links: function(){
      this.drawChart(this.relationChart, this.nodes, this.links);
    }
  },
  methods: {
    onSubmit: function() {
      console.log(this.formInline.relation);
      var relation = "";
      switch (this.formInline.relation) {
        case "0":
          relation = "instance%20of";
          break;
        case "1":
          relation = "subclass%20of";
          break;
        case "2":
          relation = "attribute";
          break;
      }
      var api = "";
      if (relation.length != 0) {
        api =
          "http://47.101.53.203:8080/graph/api/relation/CommodityItem/" +
          this.formInline.entity +
          "/" +
          relation;
      } else if (
        this.formInline.relation == "3"
      ) {
        if (this.formInline.degree == "" || this.formInline.degree <= 0){
          this.formInline.degree = 1
        }
        api =
          "http://47.101.53.203:8080/graph/api/concept/CommodityItem/" +
          this.formInline.entity +
          "/" +
          this.formInline.degree +
          "/ConceptNode";
      }
      console.log(api)
      this.$http.get(api).then(function(res) {
        var entities = res.body;
        this.extract_result(entities);
      });
    },
    extract_result: function(entities) {
      if (entities == undefined || entities.length == 0) {
        return;
      }
      this.nodes = [];
      this.links = [];
      this.categories = [];
      var classSet = new Set();
      this.nodes[0] = new this.node(
        entities[0].entity1.title,
        entities[0].entity1.labels[0]
      );
      classSet.add(entities[0].entity1.labels[0]);
      var num = entities.length;
      for (var couple = 0; couple < num; couple++) {
        this.nodes[couple + 1] = new this.node(
          entities[couple].entity2.title,
          entities[couple].relationship
        );
        this.links[couple] = new this.link(
          entities[couple].entity1.title,
          entities[couple].entity2.title,
          entities[couple].relationship
        );
        classSet.add(entities[couple].relationship);
      }
      for(var i = 0; i < this.nodes.length; i++){
        this.nodes[i].x = 20 + i * 50
      }
      this.categories = [...classSet];
    },
    link: function(source, target, category) {
      this.source = source;
      this.target = target;
      this.category = category;
    },
    node: function(name, category) {
      this.name = name;
      switch (category) {
        case "CommodityItem":
          this.itemStyle = { normal: { color: "#6D2DC1" } };
          break;
        case "subclass of":
        case "instance of":
          this.itemStyle = { normal: { color: "#2969AA" } };
          break;
        default:
          this.itemStyle = { normal: { color: "#2DC1BC" } };
          break;
      }
      this.symbolSize = [80, 80];
      this.y = 200;
    },
    drawChart: function(chart, nodes, links) {
      var option = {
        tooltip: {},
        animationDurationUpdate: 1500,
        animationEasingUpdate: "quinticInOut",
        series: [
          {
            type: "graph",
            layout: "none",
            symbolSize: 50,
            roam: true,
            label: {
              normal: {
                show: true
              }
            },
            edgeSymbol: ["circle", "arrow"],
            edgeSymbolSize: [4, 10],
            label: {
              // 关系对象上的标签
              normal: {
                show: true, // 是否显示标签
                position: "inside",
                // 标签位置:'top''left''right''bottom''inside''insideLeft''insideRight''insideTop''insideBottom''insideTopLeft'
                // 'insideBottomLeft''insideTopRight''insideBottomRight'
                textStyle: {
                  // 文本样式
                  fontSize: 20
                }
              }
            },
            edgeLabel: {
              normal: {
                show: true,
                textStyle: {
                  fontSize: 20,
                  color: "#090909"
                },
                formatter: function(param) {
                  // 标签内容
                  return param.data.category;
                }
              }
            },
            data: nodes,
            links: links,
            lineStyle: {
              normal: {
                opacity: 0.9,
                width: 2,
                curveness: 0
              }
            }
          }
        ]
      };
      chart.setOption(option);
    }
  }
};
</script>
