<template>
  <div>
    <el-row :gutter="20">
      <el-col :span="20" :offset="2">
        <el-card shadow="hover" style="100%">
          <div slot="header" class="clearfix">
            <span style="font-size:30px;">{{summary}}</span>
          </div>
          <div id="relationGraph" style="height: 800px"></div>
        </el-card>
      </el-col>
    </el-row>
  </div>
</template>

<script>
import echarts from "echarts";
export default {
  name: "items",
  data() {
    return {
      summary: "格式化知识图谱"
    };
  },
  mounted() {
    document.title = "GraphMaster"
    var that = this;
    var relationChart = echarts.init(document.getElementById("relationGraph"));
    that.relationChart = relationChart;
    this.drawChart(this.relationChart);
  },
  methods: {
    drawChart: function(chart) {
      var option = {
        tooltip: {
          // 提示框的配置
          formatter: function(param) {
            if (param.dataType === "edge") {
              //return param.data.category  ': '  param.data.target;
              return param.data.target;
            }
            //return param.data.category  ': '  param.data.name;
            return param.data.name;
          }
        },

        series: [
          {
            type: "graph", // 系列类型:关系图
            top: "10%", // 图表距离容器顶部的距离
            roam: true, // 是否开启鼠标缩放和平移漫游。默认不开启。如果只想要开启缩放或者平移，可以设置成 'scale' 或者 'move'。设置成 true 为都开启
            focusNodeAdjacency: true, // 是否在鼠标移到节点上的时候突出显示节点以及节点的边和邻接节点。[ default: false ]
            force: {
              // 力引导布局相关的配置项，力引导布局是模拟弹簧电荷模型在每两个节点之间添加一个斥力，每条边的两个节点之间添加一个引力，
              //   每次迭代节点会在各个斥力和引力的作用下移动位置，多次迭代后节点会静止在一个受力平衡的位置，达到整个模型的能量最小化。
              // 力引导布局的结果有良好的对称性和局部聚合性，也比较美观。
              repulsion: 600,
              // [ default: 50 ]节点之间的斥力因子(关系对象之间的距离)。支持设置成数组表达斥力的范围，此时不同大小的值会线性映射到不同的斥力。值越大则斥力越大
              edgeLength: [250, 120] // [ default: 30 ]边的两个节点之间的距离(关系对象连接线两端对象的距离,会根据关系对象值得大小来判断距离的大小)，
              // 这个距离也会受 repulsion。支持设置成数组表达边长的范围，此时不同大小的值会线性映射到不同的长度。值越小则长度越长。如下示例:
              // 值最大的边长度会趋向于 10，值最小的边长度会趋向于 50      edgeLength: [10, 50]
            },
            layout: "force", // 图的布局。[ default: 'none' ]
            // 'none' 不采用任何布局，使用节点中提供的 x， y 作为节点的位置。
            // 'circular' 采用环形布局;'force' 采用力引导布局.
            // 标记的图形
            edgeSymbol: ["circle", "arrow"],
            lineStyle: {
              // 关系边的公用线条样式。其中 lineStyle.color 支持设置为'source'或者'target'特殊值，
              //   此时边会自动取源节点或目标节点的颜色作为自己的颜色。
              normal: {
                color: "#000000", // 线的颜色[ default: '#aaa' ]
                width: 1, // 线宽[ default: 1 ]
                type: "solid", // 线的类型[ default: solid ]   'dashed'    'dotted'
                opacity: 0.5, // 图形透明度。支持从 0 到 1 的数字，为 0 时不绘制该图形。[ default: 0.5 ]
                curveness: 0 // 边的曲度，支持从 0 到 1 的值，值越大曲度越大。[ default: 0 ]
              }
            },
            label: {
              // 关系对象上的标签
              normal: {
                show: true, // 是否显示标签
                position: "inside",
                // 标签位置:'top''left''right''bottom''inside''insideLeft''insideRight''insideTop''insideBottom''insideTopLeft'
                // 'insideBottomLeft''insideTopRight''insideBottomRight'
                textStyle: {
                  // 文本样式
                  fontSize: 18
                }
              }
            },
            edgeLabel: {
              // 连接两个关系对象的线上的标签
              normal: {
                show: true,
                textStyle: {
                  fontSize: 16,
                  color: "#000"
                },
                formatter: function(param) {
                  // 标签内容
                  return param.data.category;
                }
              }
            },
            data: [
              {
                name: "荣耀10青春版",
                draggable: true, // 节点是否可拖拽，只在使用力引导布局的时候有用。
                symbolSize: [80, 80],
                // 关系图节点标记的大小，可以设置成诸如 10 这样单一的数字，也可以用数组分开表示宽和高，例如 [20, 10] 表示标记宽为20，高为10。
                itemStyle: {
                  color: "#6D2DC1" // 关系图节点标记的颜色
                },
                category: "商品" // 数据项所在类目的 index。
              },
              {
                name: "华为",
                draggable: true,
                symbolSize: [80, 80],
                itemStyle: {
                  color: "#2969AA"
                },
                category: "品牌"
              },
              {
                name: "手机",
                draggable: true,
                symbolSize: [80, 80],
                itemStyle: {
                  color: "#2DC1BC"
                },
                category: "概念"
              },
              {
                name: "保湿乳液",
                draggable: true,
                symbolSize: [80, 80],
                itemStyle: {
                  color: "#6D2DC1"
                },
                category: "商品"
              },
              {
                name: "希思黎",
                draggable: true,
                symbolSize: [80, 80],
                itemStyle: {
                  color: "#2969AA"
                },
                category: "品牌"
              },
              {
                name: "大宝",
                draggable: true,
                symbolSize: [80, 80],
                itemStyle: {
                  color: "#2969AA"
                },
                category: "品牌"
              },
              {
                name: "滋润乳液",
                draggable: true,
                symbolSize: [80, 80],
                itemStyle: {
                  color: "#6D2DC1"
                },
                category: "商品"
              },
              {
                name: "乳液",
                draggable: true,
                symbolSize: [80, 80],
                itemStyle: {
                  color: "#2DC1BC"
                },
                category: "概念"
              },
              {
                name: "追梦人",
                draggable: true,
                symbolSize: [80, 80],
                itemStyle: {
                  color: "#6D2DC1"
                },
                category: "商品"
              },
              {
                name: "北京电视艺术中心出版社",
                draggable: true,
                symbolSize: [80, 80],
                itemStyle: {
                  color: "#2969AA"
                },
                category: "出版社"
              },
              {
                name: "音乐专辑",
                draggable: true,
                symbolSize: [80, 80],
                itemStyle: {
                  color: "#2DC1BC"
                },
                category: "概念"
              },
              {
                name: "音乐",
                draggable: true,
                symbolSize: [80, 80],
                itemStyle: {
                  color: "#2DC1BC"
                },
                category: "概念"
              },
              {
                name: "化妆品",
                draggable: true,
                symbolSize: [80, 80],
                itemStyle: {
                  color: "#2DC1BC"
                },
                category: "概念"
              },
              {
                name: "黑与白",
                draggable: true,
                symbolSize: [80, 80],
                itemStyle: {
                  color: "#6D2DC1"
                },
                category: "商品"
              },
              {
                name: "张学友",
                draggable: true,
                symbolSize: [80, 80],
                itemStyle: {
                  color: "#2969AA"
                },
                category: "歌手"
              }
            ],
            categories: [
              {
                // 节点分类的类目，可选。如果节点有分类的话可以通过 data[i].category 指定每个节点的类目，类目的样式会被应用到节点样式上。
                // 图例也可以基于categories名字展现和筛选。
                name: "商品" // 类目名称，用于和 legend 对应以及格式化 tooltip 的内容。
              },
              {
                name: "品牌"
              },
              {
                name: "出版社"
              },
              {
                name: "歌手"
              },
              {
                name: "概念"
              }
            ],
            links: [
              {
                // 节点间的关系数据
                source: "荣耀10青春版",
                target: "手机",
                category: "isInstanceOf" // 关系对象连接线上的标签内容
              },
              {
                source: "荣耀10青春版",
                target: "华为",
                category: "品牌"
              },
              {
                source: "乳液",
                target: "化妆品",
                category: "subclassOf"
              },
              {
                source: "保湿乳液",
                target: "乳液",
                category: "isInstanceOf"
              },
              {
                source: "滋润乳液",
                target: "乳液",
                category: "isInstanceOf"
              },
              {
                source: "保湿乳液",
                target: "大宝",
                category: "品牌"
              },
              {
                source: "保湿乳液",
                target: "希思黎",
                category: "品牌"
              },
              {
                source: "音乐专辑",
                target: "音乐",
                category: "subclassOf"
              },
              {
                source: "黑与白",
                target: "音乐专辑",
                category: "isInstanceOf"
              },
              {
                source: "黑与白",
                target: "张学友",
                category: "歌手"
              },
              {
                source: "追梦人",
                target: "北京电视艺术中心出版社",
                category: "出版社"
              },
              {
                source: "追梦人",
                target: "音乐专辑",
                category: "isInstanceOf"
              }
            ]
          }
        ],
        animationEasingUpdate: "quinticInOut", // 数据更新动画的缓动效果。[ default: cubicOut ]    "quinticInOut"
        animationDurationUpdate: 100
      };
      chart.setOption(option);
    }
  }
};
</script>
