<template>
  <div class="sidebar">
    <el-menu
      :default-active="onRoutes"
      class="el-sidebar-menu"
      background-color="#545c64"
      text-color="#fff"
      active-text-color="#ffd04b"
      @select="handleSelect"
    >
      <el-menu-item index="Overview">
        <i class="el-icon-setting"></i>
        <span slot="title">仓库管理</span>
      </el-menu-item>
      <el-menu-item index="dashboard">
        <i class="el-icon-menu"></i>
        <span slot="title">控制面板</span>
      </el-menu-item>
      <el-menu-item index="issues">
        <i class="el-icon-bell"></i>
        <span slot="title">ISSUES</span>
      </el-menu-item>
      <el-menu-item index="life">
        <i class="el-icon-document"></i>
        <span slot="title">生命周期</span>
      </el-menu-item>
    </el-menu>
  </div>
</template>

<script>
export default {
  name: "sidebar",
  data() {
    return {
      isCollapse: true
    };
  },
  computed: {
    onRoutes() {
      var tmp = this.$route.path.replace("/", "");
      console.log(tmp);
      return tmp;
    }
  },
  methods: {
    handleOpen(key, keyPath) {
      console.log(key, keyPath);
    },
    handleClose(key, keyPath) {
      console.log(key, keyPath);
    },
    handleSelect(key, keyPath) {
      console.log(key + ": " + keyPath);
    }
  }
};
</script>

<style >
.el-sidebar-menu {
  width: 200px;
}

.sidebar {
  display: block;
  position: absolute;
  left: 0;
  top: 70px;
  bottom: 0;
}
.sidebar > ul {
  height: 100%;
}
</style>