<template>
  <div>
    <el-card shadow="hover" style="100%">
      <div slot="header" class="clearfix">
        <span>
          <h3>生命周期树</h3>
        </span>
      </div>
      <div class="tree">
        <div id="treeContainer" style="height: 600px"></div>
      </div>
    </el-card>
  </div>
</template>

<script>
import echarts from "echarts";

export default {
  name: "tree",
  props: ["filesTree"],
  data() {
    return {};
  },
  watch: {
    filesTree: function() {
      this.draw();
    }
  },
  mounted() {
    var treeChart = echarts.init(document.getElementById("treeContainer"));
    this.treeChart = treeChart;
    if (this.filesTree == undefined || this.filesTree.length == 0) {
      return;
    }
    this.draw();
  },
  methods: {
    draw: function() {
      var that = this;
      that.treeChart.showLoading();
      that.drawTree(that.filesTree);
      that.treeChart.on("click", function(param) {
        // 文件夹节点不设置value，文件节点设置具体value，通过判断value == undefined来判断是否是文件节点
        console.log(
          "[After click] " + param.data.name + ": " + param.data.type
        );
        if (param.data.value != undefined && param.data.type != "Folder") {
          that.$emit("checkFileLife", param.data);
        }
      });
    },
    drawTree: function(data) {
      this.treeChart.hideLoading();
      echarts.util.each(data.children, function(datum, index) {
        index % 2 === 0 && (datum.collapsed = true);
      });
      var option = {
        tooltip: {
          trigger: "item",
          triggerOn: "mousemove"
        },
        series: [
          {
            type: "tree",

            data: [data],

            top: "1%",
            left: "10%",
            bottom: "1%",
            right: "20%",

            symbolKeepAspect: true,

            symbolSize: 7,

            label: {
              normal: {
                position: "left",
                verticalAlign: "middle",
                align: "right",
                fontSize: 12
              }
            },

            leaves: {
              label: {
                normal: {
                  position: "right",
                  verticalAlign: "middle",
                  align: "left"
                }
              }
            },

            expandAndCollapse: true,
            animationDuration: 550,
            animationDurationUpdate: 750
          }
        ]
      };
      this.treeChart.setOption(option);
    }
  }
};
</script>

<style>
.tree {
  width: 100%;
  overflow-x: auto;
}
</style>
