<template>
  <div>
    <el-row :gutter="20">
      <el-col :span="24">
        <el-row :gutter="20" class="mgb20">
          <el-col :span="8">
            <el-card shadow="hover" :body-style="{padding: '0px'}">
              <div class="grid-content grid-con-1">
                <i class="el-icon-success grid-con-icon"></i>
                <div class="grid-cont-right">
                  <div class="grid-num">{{totalInfo}}</div>
                  <div>
                    <h2>INFO</h2>
                  </div>
                </div>
              </div>
            </el-card>
          </el-col>
          <el-col :span="8">
            <el-card shadow="hover" :body-style="{padding: '0px'}">
              <div class="grid-content grid-con-2">
                <i class="el-icon-warning grid-con-icon"></i>
                <div class="grid-cont-right">
                  <div class="grid-num">{{totalWarning}}</div>
                  <div>
                    <h2>WARNING</h2>
                  </div>
                </div>
              </div>
            </el-card>
          </el-col>
          <el-col :span="8">
            <el-card shadow="hover" :body-style="{padding: '0px'}">
              <div class="grid-content grid-con-3">
                <i class="el-icon-error grid-con-icon"></i>
                <div class="grid-cont-right">
                  <div class="grid-num">{{totalError}}</div>
                  <div>
                    <h2>ERROR</h2>
                  </div>
                </div>
              </div>
            </el-card>
          </el-col>
        </el-row>
        <el-row :gutter="20">
          <el-col :span="16">
            <developers :devs="devs"></developers>
          </el-col>
          <el-col :span="8">
            <pie :summary="fileSummary" :devs="devs"></pie>
          </el-col>
        </el-row>
      </el-col>
    </el-row>
    <el-row :gutter="20">
      <el-col :span="12">
        <aqi :fApi="api" :commits="commits" :title="aqiTitle" @checkCommitDay="getDate"></aqi>
      </el-col>
      <el-col :span="12">
        <heat :title="heatTitle" :commits="commits" @checkCommitWeekTime="getWeekTime"></heat>
      </el-col>
    </el-row>
    <el-row :gutter="20">
      <el-col :span="16">
        <transition name="commits">
          <detailsTable
            v-if="show"
            :header="tableHeader"
            :fData="commitDetails"
            :primaryKey="primaryK"
            :secondaryKey="secondaryK"
            :thirdKey="thirdK"
            @getNode1="getNode1"
            @getNode2="getNode2"
          ></detailsTable>
        </transition>
      </el-col>
      <el-col :span="8">
        <transition name="search">
          <SearchActs v-if="show" :commit1="commit1" :commit2="commit2"></SearchActs>
        </transition>
      </el-col>
    </el-row>
  </div>
</template>

<script>
import pie from "../components/charts/pie";
import aqi from "../components/charts/aqi";
import heat from "../components/charts/heat";
import detailsTable from "../components/tables/details";
import developers from "../components/tables/developers";
import SearchActs from "../components/search/SearchActs";

export default {
  name: "Dashboard",
  components: {
    pie,
    aqi,
    heat,
    detailsTable,
    developers,
    SearchActs
  },
  data() {
    return {
      devs: [],
      totalInfo: 0,
      totalWarning: 0,
      totalError: 0,

      fileSummary: "开发者贡献文件量",

      api: "",
      commits: [],

      aqiTitle: "Daily Commit",
      heatTitle: "Commit Heat",
      show: false,

      tableHeader: "",

      commitDetails: [],
      primaryK: "CommitId",
      secondaryK: "name",
      thirdK: "yearDate",
      commit1: "",
      commit2: "",

      remotePlatform: "",
      projectId: ""
    };
  },
  mounted() {},
  created() {
    this.remotePlatform = this.$route.query.remotePlatform;
    this.projectId = this.$route.query.projectId;
    var tmp = this.$route.path.replace("/dashboard", "");
    var params = this.findSlash(tmp);
    var storedDevs = this.$store.state.devs;
    var storedIssues = this.$store.state.issues;
    this.totalInfo = this.$store.state.info;
    this.totalWarning = this.$store.state.warning;
    this.totalError = this.$store.state.error;
    // 当有数据缓存时，不向服务端请求数据，直接获取缓存数据
    if (
      storedDevs != undefined &&
      storedDevs.length > 0 &&
      storedIssues != undefined &&
      storedIssues.length > 0
    ) {
      console.log("[Dashboard] read store...");
      this.devs = storedDevs;
      var baseUrl = this.$store.state.baseUrl;
      var api = baseUrl +　"/dashboard/commits/" + this.projectId;
      this.$http.get(api).then(function(res) {
        this.commits = res.body.data.commits;
      });
    }
    // 当缓存失效时，向服务端请求数据
    else {
      console.log("[Dashboard] invocate data...");
      this.getData(
        params[0],
        params[1],
        this.remotePlatform,
        params[2],
        params[3],
        this.projectId
      );
    }
    this.updateStore(
      params[0],
      params[1],
      this.remotePlatform,
      params[2],
      params[3],
      this.projectId
    );
  },
  computed: {},
  methods: {
    updateStore: function(
      userplatform,
      user,
      projectPlatform,
      owner,
      name,
      id
    ) {
      console.log('[Dashboard-updateStore]-userPlatform: ' + userplatform)
      console.log('[Dashboard-updateStore]-user: ' + user)
      console.log('[Dashboard-updateStore]-projectPlatform: ' + projectPlatform)
      console.log('[Dashboard-updateStore]-owner: ' + owner)
      console.log('[Dashboard-updateStore]-name: ' + name)
      console.log('[Dashboard-updateStore]-id: ' + id)
      if (this.$store.state.platform != userplatform) {
        this.$store.commit("savePlatform", userplatform);
      }
      if (this.$store.state.user != user) {
        this.$store.commit("saveUser", user);
      }
      if (this.$store.state.remotePlatform != projectPlatform) {
        this.$store.commit("saveRemotePlatform", projectPlatform);
      }
      if (this.$store.state.projectOwner != owner) {
        this.$store.commit("saveProjectOwner", owner);
      }
      if (this.$store.state.projectName != name) {
        this.$store.commit("saveProjectName", name);
      }
      if (this.$store.state.projectId != id) {
        this.$store.commit("saveProjectId", id);
      }
      console.log('[Dashboard-updateStore]-userPlatform: ' + this.$store.state.platform)
      console.log('[Dashboard-updateStore]-user: ' + this.$store.state.user)
      console.log('[Dashboard-updateStore]-projectPlatform: ' + this.$store.state.remotePlatform)
      console.log('[Dashboard-updateStore]-owner: ' + this.$store.state.projectOwner)
      console.log('[Dashboard-updateStore]-name: ' + this.$store.state.projectName)
      console.log('[Dashboard-updateStore]-id: ' + this.$store.state.projectId)
    },
    findSlash: function(url) {
      var offset = 0;
      var index = [];
      var tmp = 0;
      for (var i = 0; i < url.length; i++) {
        if (url[i] == "/") {
          index[tmp++] = i;
        }
      }
      var params = [];
      var i = 0;
      for (; i < index.length - 1; i++) {
        params[i] = url.slice(index[i] + 1, index[i + 1]);
      }
      params[i] = url.slice(index[i] + 1);
      return params;
    },
    getData: function(userplatform, user, projectPlatform, owner, name, id) {
      var baseUrl = this.$store.state.baseUrl;
      var api =
        baseUrl + "/dashboard/" +
        projectPlatform +
        "/" +
        owner +
        "/" +
        name +
        "?platform=" +
        userplatform +
        "&user=" +
        user +
        "&projectId=" +
        id;
      this.$http.get(api).then(function(res) {
        console.log(res.body.data);
        this.devs = res.body.data.devs;
        this.commits = res.body.data.commits;
        this.$store.commit("saveIssues", res.body.data.issues);
        this.$store.commit("saveDevs", res.body.data.devs);

        if (res.body.data.INFO != undefined) {
          this.totalInfo = res.body.data.INFO;
          this.$store.commit("saveInfo", this.totalInfo);
        }
        if (res.body.data.WARNING != undefined) {
          this.totalWarning = res.body.data.WARNING;
          this.$store.commit("saveWarning", this.totalWarning);
        }
        if (res.body.data.ERROR != undefined) {
          this.totalError = res.body.data.ERROR;
          this.$store.commit("saveError", this.totalError);
        }
        return res.body.data;
      });
    },
    getDate: function(date) {
      this.show = true;
      this.tableHeader = "Daily Commits Details";
      this.extractCommitByDate(date);
    },
    extractCommitByDate: function(date) {
      this.commitDetails = [];
      for (var i = 0; i < this.commits.length; i++) {
        if (date == this.commits[i]["yearDate"]) {
          var detail = {};
          detail["CommitId"] = this.commits[i]["id"];
          detail["email"] = this.commits[i]["committer"]["email"];
          detail["name"] = this.commits[i]["committer"]["name"];
          detail["yearDate"] = this.commits[i]["yearDate"];
          detail["addedLines"] = this.commits[i]["addedLines"];
          detail["removedLines"] = this.commits[i]["removedLines"];
          detail["timeStamp"] = this.commits[i]["timeStamp"];
          detail["message"] = this.commits[i]["message"];
          this.commitDetails.push(detail);
        }
      }
    },
    getWeekTime: function(weekTime) {
      this.show = true;
      this.tableHeader = "Commit Heat Details";
      this.extractCommitByWeekTime(weekTime);
    },
    extractCommitByWeekTime: function(weekTime) {
      var hour = weekTime[0];
      var week = weekTime[1];
      this.commitDetails = [];
      for (var i = 0; i < this.commits.length; i++) {
        if (
          this.commits[i]["hour"] == hour &&
          this.commits[i]["weekday"] == week
        ) {
          var detail = {};
          detail["CommitId"] = this.commits[i]["id"];
          detail["email"] = this.commits[i]["committer"]["email"];
          detail["name"] = this.commits[i]["committer"]["name"];
          detail["yearDate"] = this.commits[i]["yearDate"];
          detail["addedLines"] = this.commits[i]["addedLines"];
          detail["removedLines"] = this.commits[i]["removedLines"];
          detail["timeStamp"] = this.commits[i]["timeStamp"];
          detail["message"] = this.commits[i]["message"];
          this.commitDetails.push(detail);
        }
      }
    },
    getNode1: function(vab) {
      this.commit1 = vab["CommitId"];
    },
    getNode2: function(vab) {
      this.commit2 = vab["CommitId"];
    }
  }
};
</script>


<style scoped>
h1,
h2,
h3,
h4,
a,
p,
span {
  font-family: "Avenir", "Helvetica", "Arial", "sans-serif";
}
h1,
h2,
h3 {
  font-weight: bolder;
}
/* 可以设置不同的进入和离开动画 */
/* 设置持续时间和动画函数 */
.slide-fade-enter-active {
  transition: all 0.3s ease;
}
.slide-fade-leave-active {
  transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active for below version 2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}
.el-row {
  margin-bottom: 20px;
}
.grid-content {
  display: flex;
  align-items: center;
  height: 100px;
}
.grid-cont-right {
  flex: 1;
  text-align: center;
  font-size: 14px;
  color: #999;
}
.grid-num {
  font-size: 30px;
  font-weight: bold;
}
.grid-con-icon {
  font-size: 50px;
  width: 100px;
  height: 100px;
  text-align: center;
  line-height: 100px;
  color: #fff;
}
.grid-con-1 .grid-con-icon {
  background: rgb(45, 140, 240);
}
.grid-con-1 .grid-num {
  color: rgb(45, 140, 240);
}
.grid-con-2 .grid-con-icon {
  background: rgb(100, 213, 114);
}
.grid-con-2 .grid-num {
  color: rgb(45, 140, 240);
}
.grid-con-3 .grid-con-icon {
  background: rgb(242, 94, 67);
}
.grid-con-3 .grid-num {
  color: rgb(242, 94, 67);
}
.mgb20 {
  margin-bottom: 20px;
}
</style>