<template>
  <div>
    <el-row :gutter="20">
      <el-col :span="18">
        <tree :filesTree="filesTree" @checkFileLife="checkLifeCircle"></tree>
      </el-col>
      <transition>
        <el-col :span="6">
          <el-card shadow="hover">
            <div slot="header">
              <span class="card-header">文件生命周期</span>
            </div>
            <span v-if="!show" class="card-info">点击文件，查看文件的生命周期</span>
            <event v-if="show" :filename="filename" :lifecircle="lifecircle"></event>
          </el-card>
        </el-col>
      </transition>
    </el-row>
  </div>
</template>

<script>
import tree from "../components/charts/tree";
import event from "../components/timeline/event";

export default {
  name: "lifecircle",
  components: { tree, event },
  data() {
    return {
      show: false,
      filename: "Hello",
      filesTree: {},
      lifecircle: []
    };
  },
  created() {
    var owner = this.$store.state.projectOwner;
    var projectName = this.$store.state.projectName;
    var projectId = this.$store.state.projectId;
    var api =
      this.$store.state.baseUrl +
      "/life/" +
      owner +
      "/" +
      projectName +
      "/" +
      projectId;
    var that = this;
    console.log(api);
    this.$http.get(api).then(function(res) {
      that.filesTree = res.data.data;
      console.log(this.filesTree);
    });
  },
  methods: {
    checkLifeCircle: function(file) {
      this.show = true;
      this.filename = file.name;
      console.log(file);
      var api = this.$store.state.baseUrl + "/life/file";
      console.log(api);
      this.$http
        .post(api, { name: file.value })
        .then(function(res) {
          this.lifecircle = res.body.data.lifeCircle;
          console.log(this.lifecircle);
        });
    }
  }
};
</script>

<style>
.card-info {
  color: #c0c4cc;
}
.card-header {
  color: #303133;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: bold;
}
</style>

