<template>
  <div class="login-wrap">
    <div class="ms-login">
      <el-card class="login-card" shadow="hover">
        <div slot="header" class="ms-title">BetterCode</div>
        <el-select v-model="value" filterable placeholder="选择登陆入口" class="enter-selector">
          <el-option
            v-for="item in options"
            :key="item.value"
            :label="item.enter"
            :value="item.value"
          ></el-option>
        </el-select>
        <el-button
          plain
          style="background-color:#E4E7ED;color:#0e0e0e"
          @click="handleCheck(value)"
        >通过入口登陆</el-button>
      </el-card>
    </div>
  </div>
</template>

<script>
export default {
  name: "login",
  data() {
    return {
      options: [
        {
          enter: "GitHub",
          value: "github"
        },
        {
          enter: "GitLab",
          value: "gitlab"
        },
        {
          enter: "南京大学·软工三·课设",
          value: "seciii"
        }
      ],
      value: ""
    };
  },
  created() {
    document.title = "BetterCode"
  },
  methods: {
    handleCheck: function(val) {
      switch (val) {
        case "seciii":
          this.handleSeciii(val);
          break;
        case "github":
          this.handleGithub(val);
          break;
        case "gitlab":
          this.handleGitLab(val);
          break;
      }
    },
    handleGithub: function(thirdpart) {
      const appid = "c4d3ec9781103898eee0";
      const url =
        "https://github.com/login/oauth/authorize?client_id=" +
        appid +
        "&scope=repo:status";
      window.location.href = url;
    },
    handleGitLab: function(thirdpart) {
      const appid =
        "910578fa1d97ef919e9f1637a999d942e7a2e91715084a63eaffba6393716ac2";
      const url =
        "https://gitlab.com/oauth/authorize?client_id=" +
        appid +
        "&redirect_uri=http://47.101.137.127:8000/gitlab" +
        "&response_type=code&scope=api";
      window.location.href = url;
    },
    handleSeciii: function(thirdpart) {
      const appid =
        "827848e08a57d500b3a636f6c6f7306ed1d9cc6823632fbb1b498ab617ef0b4d";
      const url =
        "http://114.215.188.21/oauth/authorize?client_id=" +
        appid +
        "&redirect_uri=http://47.101.137.127:8000/seciii" +
        "&response_type=code&scope=api";
      window.location.href = url;
    }
  }
};
</script>


<style>
.login-wrap {
  position: relative;
  width: 100%;
  height: 750px;
  overflow: hidden;
  background: #44a08d; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #093637,
    #44a08d
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #093637,
    #44a08d
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-image: url(../../assets/img/Website-Design-Background.png);
  background-repeat: repeat;
  background-size: 100%;
}
.ms-login {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 350px;
  margin: -190px 0 0 120px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.3);
  overflow: hidden;
}
.ms-title {
  width: 100%;
  line-height: 10px;
  text-align: center;
  font-size: 20px;
  color: #fff;
}
.ms-content {
  padding: 30px 30px;
}
.login-card {
  background-color: Transparent;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  border-width: 0px;
}
.enter-selector {
  padding-bottom: 10px;
}
</style>

