<template>
  <div id="firstcomponent">
    <h1>First Component</h1>
    <span>Writen by {{ author }}</span>
  </div>
</template>

<script>
export default {
  name: "firstcomponent",
  data() {
    return {
      author: "I am your fathor"
    };
  }
};
</script>

