<template>
  <div id="secondcomponent">
    <h1>This is second component.</h1>
    <span>Written by {{ author }}</span>

    <el-card class="box-card">
      <div slot="header" class="clearfix">
        <h1 style="line-height: 36px; color: #20A0FF">DoBan Top10</h1>
      </div>
      <div v-for="article in articleList" :key="article.title" class="text item">
        {{article.title}} : {{article.genres}}
        <span
          v-for="cast in article.casts"
          :key="cast.index"
        >{{cast.name}}</span>
      </div>
      <br>
    </el-card>

    <el-table :data="movies" stripe="true" class="movie-table">
      <el-table-column type="expand" style="min-width:12%" align="center">
        <template slot-scope="props">
          <el-form label-position="left" inline class="demo-table-expand">
            <!-- <el-form-item label="电影">
              <span>{{props.row.title}}</span>
            </el-form-item>
            <el-form-item label="类别">
              <span v-for="gen in props.row.genres" :key="gen.length">{{gen}}</span>
            </el-form-item>
            <el-form-item label="演职人员">
              <span v-for="cast in props.row.casts" :key="cast.index">{{cast.name}}</span>
            </el-form-item> -->
            <el-form-item v-for="(key, value) of props.row" :key="value" :label="value">
              <span>{{key}}</span>
            </el-form-item>
          </el-form>
        </template>
      </el-table-column>
      <el-table-column prop="title" label="电影" style="min-width:12%" align="center"/>
    </el-table>
  </div>
</template>

<script>
export default {
  name: "secondcomponent",
  data() {
    return {
      author: "Hhhhh",
      articleList: []
    };
  },
  mounted: function() {
    this.$http
      .jsonp(
        "https://api.douban.com/v2/movie/top250?count=10",
        {},
        {
          headers: {},
          emulateJSON: true
        }
      )
      .then(
        function(response) {
          this.articleList = response.data.subjects;
          //   this.articleList = response.data['subjects'] is also right.
        },
        function(response) {
          // error callback
          console.log(response);
        }
      );
  },
  computed: {
    movies: function() {
      return this.articleList.filter(function(article) {
        return article["genres"].length > 1;
      });
    }
  }
};
</script>

<style>
.demo-table-expand {
  font-size: 0;
}
.demo-table-expand label {
  width: 90px;
  color: #99a9bf;
}
.demo-table-expand .el-form-item {
  margin-right: 0;
  margin-bottom: 0;
  width: 50%;
}
.movie-table {
  width: 100%;
}
</style>
