<template>
  <el-card shadow="hover">
    <div slot="header" class="lifeHeader">
      <span>{{filename}}</span>
    </div>
    <el-timeline>
      <el-timeline-item
        v-for="(event, idx) in lifecircle"
        :key="idx"
        :timestamp="event.time"
        placement="top"
      >
        <span :class="event.eventType">{{event.eventType}}</span>
        <br>
        {{event.author.email}}
        <br>
        <span class="added-lines">{{event.addLines}} (added +)</span>
        <span class="removed-lines">{{event.delLines}} (removed -)</span>
      </el-timeline-item>
    </el-timeline>
  </el-card>
</template>

<script>
export default {
  name: event,
  props: ["filename", "projectId", "lifecircle"],
  data() {
    return {};
  },
  created() {
    // 调用远程api获取对应文件名的生命周期
  }
};
</script>

<style>
.info-collapse {
  font-size: 0;
}
.info-collapse,
.clo-label {
  color: #99a9bf;
}
.added-lines {
  color: forestgreen;
}
.removed-lines {
  color: red;
}
.ADD {
  color: #409eff;
  font-weight: bold;
}
.MODIFY {
  color: #67c23a;
  font-weight: bold;
}
.RENAME {
  color: #f56c6c;
  font-weight: bold;
}
.DELETE {
  color: #909399;
  font-weight: bold;
}
.lifeHeader{
  word-wrap: break-word;
  word-break: normal;
}
</style>